In [20]:
import pandas as pd
# pd.read_csv('filename', delimiter = '\t', nrows = 'int', usecols = [''])
# df.to_csv('filepath/filename') to save
# df. (describe(), dtypes, info, column, shape, info, .iloc[row_param,column_param], .loc[row_label_param, column_label_param] and boolean indexing)

In [ ]:
# name_basics_df = pd.read_csv('IMDb_new_tsvs/name.basics.tsv', delimiter ='\t')
# title_akas_df = pd.read_csv('IMDb_new_tsvs/title.akas.tsv', delimiter ='\t')
# title_basics_df = pd.read_csv('IMDb_new_tsvs/title.basics.tsv', delimiter ='\t')
# title_crew_df = pd.read_csv('IMDb_new_tsvs/title.crew.tsv', delimiter ='\t')
# title_principals_df = pd.read_csv('IMDb_new_tsvs/title.principals.tsv', delimiter ='\t')
# title_ratings_df = pd.read_csv('IMDb_new_tsvs/title.ratings.tsv', delimiter ='\t')

In [2]:
name_basics_df = pd.read_csv('IMDb_new_tsvs/name.basics.tsv', delimiter ='\t') # use nrows to limit info displayed

In [3]:
name_basics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10034912 entries, 0 to 10034911
Data columns (total 6 columns):
nconst               object
primaryName          object
birthYear            object
deathYear            object
primaryProfession    object
knownForTitles       object
dtypes: object(6)
memory usage: 459.4+ MB

In [5]:
name_basics_df.describe()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
count,10034912,10034912,10034912,10034912,7993399,10034912
unique,10034912,7859631,485,427,19864,4201185
top,nm11143788,David Smith,\N,\N,actor,\N
freq,1,313,9534867,9858458,1822223,1744377

In [2]:
name_basics_lite_df = pd.read_csv('IMDb_new_tsvs/name.basics.tsv', delimiter ='\t', nrows = 10000) # use nrows to limit info displayed
name_basics_lite_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0072308,tt0043044,tt0053137"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0071877,tt0117057,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0054452,tt0049189,tt0059956,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0080455,tt0072562,tt0077975,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0060827,tt0050986,tt0083922,tt0050976"

In [3]:
name_basics_lite_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
nconst               10000 non-null object
primaryName          10000 non-null object
birthYear            10000 non-null object
deathYear            10000 non-null object
primaryProfession    9927 non-null object
knownForTitles       10000 non-null object
dtypes: object(6)
memory usage: 468.9+ KB

In [4]:
name_basics_lite_df['primaryProfession'] = name_basics_lite_df['primaryProfession'].fillna("")
name_basics_lite_df['primaryProfession'] = name_basics_lite_df['primaryProfession'].map(lambda review_text: review_text.split(','))
name_basics_lite_df['knownForTitles'] = name_basics_lite_df['knownForTitles'].map(lambda title: title.split(','))
name_basics_lite_df.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"[soundtrack, actor, miscellaneous]","[tt0050419, tt0072308, tt0043044, tt0053137]"
1,nm0000002,Lauren Bacall,1924,2014,"[actress, soundtrack]","[tt0071877, tt0117057, tt0038355, tt0037382]"
2,nm0000003,Brigitte Bardot,1934,\N,"[actress, soundtrack, producer]","[tt0054452, tt0049189, tt0059956, tt0057345]"
3,nm0000004,John Belushi,1949,1982,"[actor, soundtrack, writer]","[tt0080455, tt0072562, tt0077975, tt0078723]"
4,nm0000005,Ingmar Bergman,1918,2007,"[writer, director, actor]","[tt0060827, tt0050986, tt0083922, tt0050976]"

In [5]:
name_basics_lite_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
nconst               10000 non-null object
primaryName          10000 non-null object
birthYear            10000 non-null object
deathYear            10000 non-null object
primaryProfession    10000 non-null object
knownForTitles       10000 non-null object
dtypes: object(6)
memory usage: 468.9+ KB

In [6]:
name_basics_lite_df['deathYear'].value_counts()

\N      8070
2016      51
2012      46
2014      46
2017      45
        ...
1759       1
1911       1
1791       1
1921       1
1899       1
Name: deathYear, Length: 131, dtype: int64

In [7]:
name_basics_lite_df['primaryProfession'][0][0]

'soundtrack'

In [8]:
director_producer_lite_list = []
count = 0
for x in list(range(0,len(name_basics_lite_df['primaryProfession']))):
    if ('producer' or 'director') in name_basics_lite_df['primaryProfession'][x]:
        director_producer_lite_list.append(name_basics_lite_df['nconst'][x])
        count += 1
print(len(director_producer_lite_list))
print(count)

2979
2979

In [9]:
director_producer_lite_df = pd.DataFrame(director_producer_lite_list, columns =['nconst'])
print(len(director_producer_lite_df))
director_producer_lite_df.head()

2979

      nconst
0  nm0000003
1  nm0000006
2  nm0000007
3  nm0000009
4  nm0000011

In [10]:
name_df = name_basics_lite_df.set_index('nconst')
name_df.head()

,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
nconst,,,,,
nm0000001,Fred Astaire,1899,1987,"[soundtrack, actor, miscellaneous]","[tt0050419, tt0072308, tt0043044, tt0053137]"
nm0000002,Lauren Bacall,1924,2014,"[actress, soundtrack]","[tt0071877, tt0117057, tt0038355, tt0037382]"
nm0000003,Brigitte Bardot,1934,\N,"[actress, soundtrack, producer]","[tt0054452, tt0049189, tt0059956, tt0057345]"
nm0000004,John Belushi,1949,1982,"[actor, soundtrack, writer]","[tt0080455, tt0072562, tt0077975, tt0078723]"
nm0000005,Ingmar Bergman,1918,2007,"[writer, director, actor]","[tt0060827, tt0050986, tt0083922, tt0050976]"

In [11]:
director_producer_lite_df = director_producer_lite_df.merge(name_df, on = 'nconst')

In [12]:
director_producer_lite_df['deathYear'][0]

'\\N'

In [16]:
## get rid of all producer/directors who have died
director_producer_lite_df = director_producer_lite_df[director_producer_lite_df['deathYear'] == '\\N'].set_index('nconst')
director_producer_lite_df

,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
nconst,,,,,
nm0000003,Brigitte Bardot,1934,\N,"[actress, soundtrack, producer]","[tt0054452, tt0049189, tt0059956, tt0057345]"
nm0000079,Raquel Welch,1940,\N,"[actress, soundtrack, producer]","[tt0068795, tt0070291, tt0072281, tt0061653]"
nm0000085,Henner Hofmann,1950,\N,"[cinematographer, producer, camera_department]","[tt0113482, tt0097523, tt1825758, tt0097738]"
nm0000092,John Cleese,1939,\N,"[actor, writer, producer]","[tt0071853, tt0095159, tt0085959, tt0079470]"
nm0000093,Brad Pitt,1963,\N,"[actor, producer, soundtrack]","[tt0356910, tt0114746, tt2935510, tt1210166]"
...,...,...,...,...,...
nm0010081,Casey Donahue Ackley,\N,\N,"[writer, producer, production_manager]","[tt0177822, tt0330930]"
nm0010084,Claudia Acklin,\N,\N,"[director, writer, producer]","[tt1132448, tt0137078]"
nm0010128,David Acomba,1944,\N,"[director, producer, music_department]","[tt0072181, tt0084048, tt0097972, tt0149458]"
nm0010139,Lance Acord,1964,\N,"[cinematographer, producer, director]","[tt1990314, tt0335266, tt0386117, tt0422720]"
nm0010158,Alvaro Acosta,\N,\N,"[assistant_director, producer]","[tt0225192, tt0159879, tt0265154, tt4189570]"

In [18]:
director_producer_lite_df = director_producer_lite_df.reset_index()
director_producer_lite_df

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000003,Brigitte Bardot,1934,\N,"[actress, soundtrack, producer]","[tt0054452, tt0049189, tt0059956, tt0057345]"
1,nm0000079,Raquel Welch,1940,\N,"[actress, soundtrack, producer]","[tt0068795, tt0070291, tt0072281, tt0061653]"
2,nm0000085,Henner Hofmann,1950,\N,"[cinematographer, producer, camera_department]","[tt0113482, tt0097523, tt1825758, tt0097738]"
3,nm0000092,John Cleese,1939,\N,"[actor, writer, producer]","[tt0071853, tt0095159, tt0085959, tt0079470]"
4,nm0000093,Brad Pitt,1963,\N,"[actor, producer, soundtrack]","[tt0356910, tt0114746, tt2935510, tt1210166]"
...,...,...,...,...,...,...
2601,nm0010081,Casey Donahue Ackley,\N,\N,"[writer, producer, production_manager]","[tt0177822, tt0330930]"
2602,nm0010084,Claudia Acklin,\N,\N,"[director, writer, producer]","[tt1132448, tt0137078]"
2603,nm0010128,David Acomba,1944,\N,"[director, producer, music_department]","[tt0072181, tt0084048, tt0097972, tt0149458]"
2604,nm0010139,Lance Acord,1964,\N,"[cinematographer, producer, director]","[tt1990314, tt0335266, tt0386117, tt0422720]"
2605,nm0010158,Alvaro Acosta,\N,\N,"[assistant_director, producer]","[tt0225192, tt0159879, tt0265154, tt4189570]"

In [23]:
totalKnownTitles = []
for x in list(range(0,len(director_producer_lite_df))):
    totalKnownTitles.append(len(director_producer_lite_df['knownForTitles'][x]))
print(max(totalKnownTitles))

4

In [83]:
# director_producer_lite_df = director_producer_lite_df.set_index('nconst')

In [87]:
# director_producer_lite_df = director_producer_lite_df.reset_index()

We need specific things from each data frame:

- Names: Directors/Producers that have produced a movie within the last decade, still alive, successful maybe or have produced a lot of movies

# Title AKAS

In [23]:
# title_akas_df = pd.read_csv('IMDb_new_tsvs/title.akas.tsv', delimiter ='\t')
title_akas_lite_df = pd.read_csv('IMDb_new_tsvs/title.ratings.tsv', delimiter ='\t', low_memory=False, encoding="UTF-8")
title_akas_lite_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1030009 entries, 0 to 1030008
Data columns (total 3 columns):
tconst           1030009 non-null object
averageRating    1030009 non-null float64
numVotes         1030009 non-null int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.6+ MB

In [7]:
title_akas_lite_df.endYear.value_counts()

\N      6681921
2017       4307
2018       3770
2016       3286
2019       3161
         ...
1944          1
2027          1
2025          1
2023          1
1937          1
Name: endYear, Length: 94, dtype: int64

In [21]:
title_akas_lite_df.startYear.unique()

array(['1894', '1892', '1893', '1895', '1896', '1898', '1897', '1900',
       '1899', '1901', '1904', '1903', '1902', '1905', '1912', '1907',
       '1906', '1908', '1910', '1909', '1914', '1911', '1913', '1915',
       '1919', '1916', '1917', '1918', '1936', '1925', '1920', '1922',
       '1921', '1923', '1924', '1928', '1926', '1927', '1929', '1993',
       '1935', '2014', '1930', '2004', '1942', '1934', '1931', '1932',
       '1939', '1937', '1933', '1950', '1938', '1951', '1945', '1946',
       '1940', '1944', '1949', '1947', '1941', '1952', '1970', '1957',
       '1943', '1959', '1948', '2001', '1953', '1954', '1965', '1983',
       '1980', '1973', '1961', '1995', '1955', '1962', '1958', '1956',
       '1960', '1964', '1967', '1968', '1963', '1969', '1985', '1971',
       '1972', '1966', '1976', '1990', '1986', '1979', '1987', '1974',
       '1981', '2020', '1988', '1975', '1978', '1977', '2010', '1989',
       '\\N', '2018', '1984', '1982', '1992', '1991', '1994', '1999',
       '2005', '2019', '1998', '1996', '2002', '1997', '2017', '2000',
       '2013', '2006', '2009', '2008', '2003', '2007', '2016', '2012',
       '2011', '2015', '1891', '2021', '1888', '1890', '2022', '1889',
       '2024', '2023', '2026', '2027', '2025', '1887', '1878', '1874',
       '2115', '1883', '1881', '1885'], dtype=object)